
body {
    margin: 0;
}
#collection {
    position: absolute;
    left: 0;
    top: 0;
    width: 80vw;
    height: 100vh;
    background-color: #aaf;
    overflow: hidden;
}
#all_tasks_bounds {
    position: absolute;
    background: radial-gradient(closest-side, #fff, #aaf);
}
#tasks {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    overflow: visible;
}
#sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100vh;
    background-color: #fff;
}
.task {
    position: absolute;
    min-width: 1em;
    min-height: 1em;
    border-radius: 1em;
    padding: 0.8em;
}
.single_task {
    position: absolute;
    background-color: #ccc;
    transform: translate(-50%, -50%);
}
.task_group {
    background: #0003;
    padding: 0.6em;
    border: 0.2em solid #000a;
}
.task.selected {
    padding: 0.6em;
    border: 0.2em solid #00f;
}
textarea {
    display: block;
    width: 18vw;
    height: 30em;
}
button {
    border: 0.2em solid #ccc;
    background-color: #eee;
    color: #555;
}
button.selected {
    border: 0.2em solid #00f;
    background-color: #ddf;
    color: black;
}